:root {
  --black:          #333333;
  --white:          #FFFFFF;
  --green-light:    #A8B64F;
  --green:          #899441;
  --red:            #DC3E22;
  --red-dull:       #EA8979;
  --red-light:      #EE735D;
  --red-dark:       #B7280F;
  --gray:           #999999;
  --gray-secondary: #F4F4F4;
  --gray-border:    #C4C4C4;
  --gray-e4:        #E4E4E4;
  --gray-ec:        #ECECEC;
  --orange-light:   #FFDDA9;
  --orange:         #FFAE35;
  --blue-light:     #C5F1FF;
  --blue:           #7FC2D7;
  --violet-light:   #DFDCFE;
  --violet:         #9C97D7;


  --content-width:   1440px;
  --container-offset:  80px;

  --font-family: 'SF UI Display'
}

html[data-theme="dark"] {
  --bg-color: var(--black);
  --text-color: var(--white);
  --bg-gray-color: var(--gray);
}


html[data-theme="light"] {
  --bg-color: var(--white);
  --text-color: var(--black);
  --bg-gray-color: var(--gray-secondary);
}