:root {
  --black:          #333333;
  --white:          #FFFFFF;
  --green-light:    #A8B64F;
  --green:          #899441;
  --red:            #DC3E22;
  --red-dull:       #EA8979;
  --red-light:      #EE735D;
  --red-dark:       #B7280F;
  --gray:           #999999;
  --gray-secondary: #F4F4F4;
  --gray-border:    #C4C4C4;
  --gray-e4:        #E4E4E4;

  --content-width:   1440px;
  --container-offset:  80px;

  --font-family: 'SF UI Display'
}