.s12 {
  font-size: 0.75rem;
}
.s16 {
  font-size: 1rem;
}
.s24 {
  font-size: 1.5rem;
}
.s64 {
  font-size: 4rem;
}
.s150 {
  font-size: 9.375rem;
}

.lh16 {
  line-height: 1rem;
}

.lh17 {
  line-height: 1.0625rem;
}

.lh24 {
  line-height: 1.5rem;
}

.lh28 {
  line-height: 1.75rem;
}

.lh33 {
  line-height: 2.0625rem;
}

lh64 {
  line-height: 4rem;
}

.lh76 {
  line-height: 4.75rem;
}

.lh179 {
  line-height: 11.1875rem;
}

.total-black {
  color: var(--black);
}

.black {
  color: var(--text-color);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

.gray {
  color: var(--gray);
}

.gray-light {
  color: var(--gray-border);
}

.upperCase {
  text-transform: uppercase;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.ultralight {
  font-weight: 200;
}
