.body {
  width: 100%;
  background-color: var(--bg-gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 452px;
  position: relative;
}

.btnSettings {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 20px;
  background-color: var(--gray-border);
}

.timerWrap {
  position: relative;
}

.btnAdd {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--gray-border);
  transition: background-color .3s ease-in-out;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(100% + 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--green);
  }
}

.task {
  text-align: center;
  margin-bottom: 32px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnAction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenBtn {
  background-color: var(--green-light);
  padding: 19px 50px;
  margin-right: 25px;
  transition: background-color .3s ease-in-out;
  line-height: 1.0625rem;
  font-weight: 500;
  color: var(--white);
  &:not(:disabled):hover, &:not(:disabled):active {
    background-color: var(--green);
  }

  &:disabled {
    background-color: var(--gray-border);
  }
}

.redBtn {
  padding: 17px 48px;
  border: 2px solid var(--red);
  color: var(--red);
  font-weight: 500;
  line-height: 1.0625rem;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;

  &:disabled {
    border-color: var(--gray-border);
    color: var(--gray-border);
  }

  &:not(:disabled):hover, &:not(:disabled):active {
    color: var(--white);
    background-color: var(--red);
  }
}