.head {
  background-color: var(--gray-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 40px;
}

.timer {
  background-color: var(--red);
}

.pause {
  background-color: var(--green-light);
}