.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn {
  background-color: var(--gray-secondary);
  width: 370px;
  padding: 19px 15px;
  position: relative;
  text-align: start;
}

.arrow {
  position: absolute;
  top: calc(50% - 7.5px);
  right: 17px;
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
}

.btn.active .arrow {
  transform: rotate(0);
}